@font-face {
  font-family: 'NunitoSans';
  src: local("NunitoSans"), url("../../fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype");
}

.loginStuff .modalBox {
  border-radius: 10px;
  overflow: hidden;
}

.loginStuff .modalBox .form-signin-heading {
  background: teal;
  padding: 15px;
}

.loginStuff .modalBox .login-body {
  padding: 15px;
}

.loginStuff .modalBox p {
  padding-left: 15px;
  padding-bottom: 15px;
}

.loginStuff .modalBox p span {
  color: teal;
  text-decoration: underline;
}

.loginStuff .modalBox input {
  margin-bottom: 5px;
  border: 1px solid rgba(95, 95, 95, 0.698);
}

.loginStuff .modalBox input:focus {
  outline: teal auto 1px;
}

@keyframes grow {
  100% {
    transform: scale(1);
  }
}

.landingContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.callToAction {
  position: absolute;
  top: 45vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 1px 1px 10px #2b2a2a;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callToAction button {
  background: #093563;
  border: 2px solid #07064175;
  margin-top: 15px;
  padding: 5px 25px;
  color: #fbfbfb;
  font-size: 1.5rem;
  font-family: source code pro light;
  font-weight: 600;
  border-radius: 10px;
  transition: box-shadow 0.45s ease-in-out, transform 0.45s ease-in-out;
}

.callToAction button:hover {
  background: #09adb5;
  color: white;
  box-shadow: 7px 7px 7px #b7b9be;
  transform: translateY(-3px);
}

.hero {
  background: url("/img/blank.jpg");
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .imageCont {
  border-radius: 50%;
  height: 900px;
  width: 900px;
  z-index: 1;
  animation: orbit 300000ms infinite;
}

.hero .imageCont img {
  animation: orbit 300000ms infinite;
}

.hero .imageCont :nth-child(1) {
  position: relative;
  top: -100px;
  left: -100px;
  z-index: 4;
  transform: rotate(45deg);
}

.hero .imageCont :nth-child(2) {
  position: relative;
  top: -200px;
  left: -100px;
  transform: rotate(-45deg);
  z-index: 6;
}

.hero .imageCont :nth-child(3) {
  position: relative;
  top: -200px;
  left: -300px;
}

.hero .imageCont :nth-child(4) {
  position: relative;
  top: -500px;
  left: 300px;
  transform: rotate(135deg);
}

.hero .imageCont :nth-child(5) {
  position: relative;
  top: -500px;
  left: 900px;
  transform: rotate(-135deg);
}

.hero .imageCont :nth-child(6) {
  position: relative;
  top: -230px;
  left: 350px;
  transform: rotate(35deg);
}

.hero .imageCont :nth-child(7) {
  position: relative;
  top: -400px;
  left: 300px;
  transform: rotate(305deg);
}

.hero .imageCont :nth-child(8) {
  position: relative;
  top: -500px;
  left: -600px;
  transform: rotate(5deg);
}

.hero .imageCont2 {
  display: block;
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  z-index: 0;
  animation: orbit-2 400000ms infinite;
}

.hero .imageCont2 img {
  animation: orbit-2 250000ms infinite;
}

.hero .imageCont2 :nth-child(1) {
  position: relative;
  bottom: 00px;
  left: -250px;
  transform: rotateZ(90deg);
  z-index: 46;
}

.hero .imageCont2 :nth-child(2) {
  position: relative;
  bottom: 00px;
  left: -0px;
  z-index: 10;
}

.hero .imageCont2 :nth-child(3) {
  position: relative;
  top: -700px;
  right: -50px;
  transform: rotate(-45deg);
}

.hero .imageCont2 :nth-child(4) {
  position: relative;
  top: -700px;
  right: -300px;
  transform: rotate(45deg);
}

.hero .imageCont3 {
  position: absolute;
  height: 800px;
  width: 1200px;
  border-radius: 50%;
}

.hero .imageCont3 :nth-child(1) {
  position: relative;
  top: -0px;
  left: -300px;
  transform: rotate(45deg);
  animation: orbit 300000ms infinite;
}

.hero .imageCont3 :nth-child(2) {
  position: relative;
  bottom: -460px;
  left: -800px;
  transform: rotate(45deg);
  animation: orbit-2 300000ms infinite;
}

.hero .imageCont3 :nth-child(3) {
  position: relative;
  bottom: 50px;
  left: 330px;
  transform: rotate(-45deg);
  animation: orbit 300000ms infinite;
}

.hero .imageCont3 :nth-child(4) {
  position: relative;
  bottom: -200px;
  left: 1150px;
  transform: rotate(-95deg);
  animation: orbit-2 300000ms infinite;
}

.hero img {
  width: 400px;
  height: auto;
}

@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes orbit-2 {
  100% {
    transform: rotate(-360deg);
  }
}

.pokerGame {
  background: #153110;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c7c7c7;
}

.card-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 20px;
  /* background: #1e1307ee; */
  height: 25vw;
  width: 80vw;
}

.card {
  width: 225px;
  height: 100%;
  margin: 5px;
  background-size: cover;
  background: #f3e6f2;
}

img {
  height: 100%;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
}

.winBanner {
  position: absolute;
  font-size: 50px;
  color: white;
  font-weight: 400;
  z-index: 10;
  /* text-shadow: 2px 2px 7px  white; */
  background: #a02712;
  box-shadow: #161616 1px 1px 5px 1px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
}

.btn {
  box-shadow: #161616 1px 1px 5px 1px;
  margin: 3px;
}

svg {
  background: #627c8b80;
}

.pokerDataFeed {
  max-width: 500px;
}

.navbar2 {
  background: url(/img/blank.jpg);
  background-size: 167px;
  background-blend-mode: multiply;
  top: 0;
  width: 100%;
  border-bottom: #0b1220 10px solid;
  overflow: hidden;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.navbar2 .collapseNav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.navbar2 .nav-stuff {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 60%;
}

.navbar2 .logo {
  width: 300px;
}

.navbar2 .user-info {
  background: url(/img/blank.jpg), #445050;
  background-blend-mode: overlay;
  background-size: 200px;
  box-shadow: 1px 1px 5px #474747;
  position: absolute;
  top: -200px;
  transition: ease-in;
  animation: slidedown 350ms linear;
  animation-fill-mode: forwards;
  right: 0;
  width: 200px;
  height: 200px;
  font-size: 1.8rem;
  border-radius: 0 0 15px 15px;
  z-index: 3;
}

.navbar2 .user-info div {
  color: white;
  cursor: pointer;
}

.navbar2 .user-info div:hover {
  color: #a8cccc;
  cursor: pointer;
}

.navbar2 .user-link {
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar2 .user-link:hover {
  transform: translateY(-1px);
  text-shadow: rgba(143, 143, 143, 0.411) 2px 2px 1px;
}

.navbar2 .test {
  transform: skewX(-30deg);
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar2 .cart-num {
  background: rgba(18, 167, 130, 0.452);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  animation: swell 350ms linear;
  font-size: 1.2rem;
}

.navbar2 .skew-box {
  border-right: 2px #455157 solid;
  width: 25%;
  transform: skewX(30deg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  font-family: 'NunitoSans';
  text-decoration: none;
  cursor: pointer;
}

.navbar2 .skew-box:hover {
  background: rgba(9, 132, 136, 0.109);
}

.navbar2 .logo {
  font-weight: 800;
  font-size: 3rem;
}

.navbar2 .cart-box {
  margin-right: 10px;
  width: 10%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar2 .cart-box .cb-stuff {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar2 .cart-box .cart-info {
  height: 40px;
  margin-right: 5px;
}

.search-cont {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-left: 15px;
  background: #f1f1f1;
}

.search-cont i {
  color: grey;
  transform: scale(1.5);
  margin-right: 10px;
  background: white;
}

.search-cont:focus-within {
  outline: teal auto 1px;
}

.searchbar {
  width: 100%;
  padding: 10px;
  background: #f1f1f1;
  background-blend-mode: overlay;
  border: .5px solid transparent;
}

.searchbar:focus {
  box-shadow: transparent;
  border: 1px solid transparent;
  outline: none;
}

.searchbar::placeholder {
  color: #a7a7a7;
}

.stickyStuff {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px 10px black;
  background: white;
}

.item-list {
  padding-top: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100%;
  background: url(/img/blank.jpg);
  background-size: 167px;
  background-blend-mode: multiply;
}

.shop-left, .shop-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shop-item-mat {
  padding: 20px;
  border: 2px solid #16161669;
  background: #030b1f;
  background: url(/img/blank.jpg), #070a11f8;
  background-blend-mode: overlay;
  background-size: 200px;
  width: 100%;
  margin-bottom: 10px;
}

.shop-item-mat img {
  border: 2px #ffffff57 ridge;
  cursor: pointer;
}

.customCard {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(/img/new.jpg), rgba(205, 199, 218, 0.596);
  box-shadow: 1px 1px 10px 1px #161616;
  padding: 10px;
  border-radius: 5px;
  background: url(/img/blank.jpg);
  background-size: 167px;
  background-blend-mode: multiply;
}

.cardfoot {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cardfoot h4 {
  text-align: center;
}

.store {
  height: 100%;
}

.pagination {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  background-blend-mode: overlay;
  background-size: 300px;
  padding: 5px;
  background: url(/img/blank.jpg);
  background-size: 167px;
  background-blend-mode: multiply;
}

.pagination .page-link {
  color: #5c5c5c;
  cursor: pointer;
}

.pagination .page-link:hover {
  color: #052447;
  background: rgba(9, 132, 136, 0.109);
}

@keyframes swell {
  50% {
    width: 40px;
    height: 40px;
    font-size: 2rem;
  }
  100% {
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
  }
}

@keyframes slidedown {
  100% {
    top: 0px;
  }
}

.cartWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
}

.cartBackdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  animation: fade-in 300ms linear;
  animation-fill-mode: forwards;
  background: url("/img/modal.png");
  background-size: 300px;
}

.cartBox {
  position: absolute;
  top: 0;
  right: -300px;
  min-height: 100%;
  width: 60%;
  max-width: 700px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  animation: slide 350ms linear;
  animation-fill-mode: forwards;
}

.cart {
  background: url("/img/blank.jpg");
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 5;
  box-shadow: -5px 0px 50px 10px black;
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
}

.cart-footer {
  background: url(/img/blank.jpg), #074646;
  background-blend-mode: overlay;
  font-size: 1.7rem;
  color: white;
  text-align: right;
}

.cart-banner {
  background: url(/img/blank.jpg), #074646;
  background-blend-mode: overlay;
  color: #e2e2e2 !important;
  display: flex;
}

.cart-banner :nth-child(1) {
  font-size: 2rem;
}

.cart-banner i {
  margin: 0 30px 0 5px;
  color: white;
}

.cart-banner button {
  background-color: transparent !important;
}

.bannerInfo div {
  color: white;
}

.cart-item-cont {
  overflow: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.cart-item .subCart {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.cart-item .cart-item-detail {
  width: 50%;
  word-wrap: break-word;
}

.cart-item .cart-item-price {
  float: right;
  padding-right: 20px;
}

.cart-item img {
  width: 100px;
  height: 100%;
}

@keyframes slide {
  100% {
    right: 0px;
  }
}

@keyframes fade-in {
  100% {
    opacity: .7;
  }
}

.cartCont {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/img/blank.jpg");
  background-size: 200px;
}

.cart-page-body {
  border: 1px rgba(128, 128, 128, 0.589) solid;
  width: 80%;
  max-width: 800px;
  height: 80%;
  background: url("/img/blank.jpg");
}

.cart-page-body .cart-banner {
  height: 20%;
  margin-bottom: 0;
}

.cart-page-body .cart-footer {
  height: 10%;
}

.cart-page-item-cont {
  height: 70%;
  background: url("/img/blank.jpg");
  overflow: auto;
}

@media (max-width: 750px) {
  .cart-page-body {
    width: 95%;
    height: 95%;
  }
}

.sell-page {
  height: 100%;
  background: url("/img/blank.jpg");
}

.sell-cont {
  min-height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sell-nav {
  box-shadow: 1px 1px 10px black;
  margin-bottom: 10px;
}

.add-item-cont {
  width: 80%;
  border-radius: 10px;
}

.add-item-cont .add-item-banner {
  background: url(/img/blank.jpg), #074646;
  background-blend-mode: overlay;
  background-size: 200px;
  padding: 15px;
  color: white;
  font-size: 2rem;
}

.add-item-cont .add-item-footer {
  background: url(/img/blank.jpg), #074646;
  background-blend-mode: overlay;
  background-size: 200px;
  padding: 15px;
  color: white;
  font-size: 2rem;
}

.add-item-cont textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin: 0;
  vertical-align: top;
}

.add-item-cont input {
  width: 100%;
  padding: 10px;
}

.add-item-cont #inputfield {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.add-item-cont #color-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.add-item-cont .fileLabel {
  background: #dfe9e9;
  color: #664758;
  border: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 0;
}

.fileUploadStuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/img/blank.jpg), #445050;
  background-blend-mode: overlay;
  background-size: 200px;
}

.imagePreview {
  max-height: 150px;
  width: auto;
}

.img-cont {
  background: url(/img/blank.jpg), #2b2d30;
  background-blend-mode: overlay;
  background-size: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.add-item-mat {
  padding: 20px;
}

.studio-page {
  background: url("/img/blank.jpg");
  background-blend-mode: overlay;
  background-size: 200px;
}

.studio-header {
  width: 100%;
  display: flex;
}

.studio-banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 10px #0b1220 solid;
  box-shadow: 1px 1px 10px 1px #525252;
  margin-bottom: 10px;
  background: url(/img/blank.jpg), #074646;
  padding: 25px;
  background-blend-mode: overlay;
  background-size: 200px;
}

.studio-banner img {
  width: 100%;
  height: auto;
}

.studio-banner h1 {
  color: white;
}

.user-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.user-image img {
  width: 100%;
}

.studio-item-display {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'left right';
  min-height: 70vh;
}

.studioItem {
  padding: 20px;
  margin: 10px;
  background: #ffffff;
  box-shadow: 1px 1px 10px 1px #525252;
  background: url(/img/blank.jpg), #070a11f8;
  background-blend-mode: overlay;
  background-size: 200px;
}

.studioItem img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.studio-item-cont {
  position: relative;
  overflow: hidden;
}

.price-tag {
  position: absolute;
  top: 8px;
  right: -60px;
  padding: 5px;
  background: #959797ab;
  font-size: 2rem;
  transform: rotateZ(40deg);
  width: 200px;
  text-align: center;
  display: none;
}

.price-tag-left {
  position: absolute;
  top: 8px;
  left: -60px;
  padding: 5px;
  background: #a3a5a5ab;
  font-size: 2rem;
  transform: rotateZ(-40deg);
  width: 200px;
  text-align: center;
  display: none;
}

.modalWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.modalBackdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  animation: stuff 300ms linear;
  animation-fill-mode: forwards;
  background: url("/img/modal.png");
  background-size: 300px;
}

.modalBox {
  opacity: 0;
  animation: stuff2 300ms linear;
  animation-fill-mode: forwards;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 30%;
  max-height: 100%;
  overflow-y: auto;
  width: 60%;
  max-width: 700px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
}

.modalOpen {
  overflow: hidden;
}

.add-img {
  width: 200px;
}

.close {
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  z-index: 2;
}

@keyframes stuff {
  100% {
    opacity: 1;
  }
}

@keyframes stuff2 {
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.art-modal .modalBox {
  margin: 0;
  padding: 0;
}

.art-modal .modalBox .modal-shit {
  width: 100%;
  background: url(/img/blank.jpg);
  background-size: 167px;
  background-blend-mode: multiply;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.art-modal .modalBox .modal-shit .modal-pic {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.addToCartModal .modalBox {
  background: url(/img/blank.jpg);
  background-size: 167px;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-settings-head {
  background: url(/img/blank.jpg), #074646;
  background-blend-mode: overlay;
  padding: 15px;
}

.account-settings-body {
  padding: 15px;
  background: url(/img/blank.jpg);
  background-blend-mode: overlay;
}

.account-settings-body .account-info {
  padding: 10px;
}

.account-settings-body .account-info span {
  color: blue;
  float: right;
  cursor: pointer;
}

.account-change {
  padding: 15px;
}

.update-msg {
  padding: 15px;
}

.update-stuff {
  opacity: 0;
  animation: stuff 350ms linear;
  animation-fill-mode: forwards;
}

@keyframes stuff {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.navWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
}

.navBackdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  animation: stuff 300ms linear;
  animation-fill-mode: forwards;
  background: url("/img/modal.png");
  background-size: 300px;
}

.logo {
  cursor: pointer;
}

.navBox {
  position: absolute;
  top: 0;
  left: -250px;
  min-height: 100%;
  width: 60%;
  max-width: 700px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  animation: slideFromLeft 350ms linear;
  animation-fill-mode: forwards;
}

.navBox div {
  color: #010138;
  font-size: 2.4rem;
  text-shadow: 5px 5px 2px rgba(105, 105, 105, 0.425);
}

.navBox div:hover {
  color: teal;
}

.hamburger {
  display: none;
}

.hamburger-icon {
  padding: 5px;
  margin-top: 7px;
  color: teal;
  border: 2px solid transparent;
  cursor: pointer;
}

.hamburger-icon:hover {
  border: 2px solid rgba(8, 11, 51, 0.068);
  border-radius: 5px;
  color: #025c5c;
  background: rgba(128, 128, 128, 0.048);
}

@keyframes slideFromLeft {
  100% {
    left: 0px;
  }
}

* {
  font-family: 'yu gothic ui';
  color: #161616;
}

.custom-btn {
  background: transparent;
  color: white;
  border: white 1.2px solid;
  text-align: center;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
}

.custom-btn:hover {
  background: rgba(39, 49, 68, 0.411);
}

.custom-btn-two {
  background: #094611;
  color: white;
  border: none;
  padding: 7px;
  font-size: .8rem;
}

.custom-btn-three {
  background: #fafafa3b;
  color: #1b757e;
  border: none;
  padding: 7px;
  font-size: .8rem;
}

.custom-btn-three:hover {
  background: rgba(9, 132, 136, 0.109);
}

.custom-btn-three:first-child {
  border-radius: 5px 0 0 5px;
}

.custom-btn-three:last-child {
  border-radius: 0 5px 5px 0;
}

.my-control {
  width: 100%;
  padding: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  width: 100%;
  height: 100vh;
}

@media (min-width: 800px) {
  .add-item-cont {
    width: 700px;
  }
}

@media (min-width: 1130px) {
  .studio-item-display {
    width: 100%;
  }
  .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1130px) {
  .shop-left, .shop-right {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .studio-item-display, .item-list {
    display: block;
  }
}

@media (max-width: 780px) {
  .collapseNav {
    display: none !important;
  }
  .hamburger, .side-nav {
    display: block !important;
  }
  .modalBox {
    width: 90%;
  }
  .close {
    right: 0;
  }
  .hero {
    display: block;
  }
  .imageCont {
    width: 600px !important;
    height: 500px !important;
  }
  .imageCont :nth-child(1) {
    top: 300px !important;
    left: 0;
  }
  .imageCont :nth-child(2) {
    top: -300px !important;
    left: 100px;
  }
  .imageCont2 {
    display: hidden;
    position: absolute;
    top: 200px;
    left: 200px;
    height: 400px;
  }
  .imageCont2 :nth-child(1) {
    top: 0;
  }
  .callToAction {
    width: 100%;
  }
  .callToAction img {
    width: 100%;
  }
}
