

.pokerGame{
    background: #153110;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c7c7c7
}

.card-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px;
    /* background: #1e1307ee; */
    height: 25vw;
    width: 80vw;
}
.card{
    width: 225px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    height: 100%;
    margin: 5px;
    background-size: cover;
    background: rgb(243, 230, 242);
    
}
img{
    height: 100%;
}
// table{
//     width: 80vw;
//     height: fit-content;
//     color: #161616;
//     border: 1px solid #161616;
//     background: rgb(243, 230, 242);
//     box-shadow: 1px 1px 5px 1px black;

// }
// td{
//     border: 1px solid #161616;

//     color: #161616;
//     font-weight: 800;
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  
   
// }
.controls{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}
.winBanner{
    position: absolute;
    font-size: 50px;
    color: white;
    font-weight: 400;
    z-index: 10;
    /* text-shadow: 2px 2px 7px  white; */
    background: rgb(160, 39, 18);
    box-shadow: #161616 1px 1px 5px 1px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}
.btn{
    box-shadow: #161616 1px 1px 5px 1px;
    margin: 3px;
}